.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #250d4d;
  }
  
  .nav-items {
    list-style: none;
    display: flex;
  }
  
  .nav-items > li {
    padding: 10px;
    color: white;
  }

  h1 {
    color: white;
    margin-left: 15px; 
  }
